<html>
<head>
    <title>Web "A" Tools Instalation</title>
    <script type="text/javascript" src="chkMatch.js"></script>
    <style type="text/css">
    .error {
        color: #ff0000;
        font-weight: bold;
        display: none;
    }
    </style>
</head>
<body>
    <h1>Step 2. GUI Andminstrative account.</h1>
    <p>Set up database connection for this server</p>
    <form action="stage3.php" method="POST">
        <table border="0"><tr><td>
        <fieldset width="0">
            <legend><b>GUI Administrative account</b></legend>
            <table border="0">
                <tr><td>Group:</td><td><input type="text" name="group" value="Administrators"></td></tr>
                <tr><td>User:</td><td><input type="text" name="user" value="Administrator"></td></tr>
                <tr><td>Password:</td><td><input id="pass" type="password" name="pass" value=""
                                    onkeyup="chkMatch('pass','pass2','OK','Failed!','msg');"></td></tr>
                <tr><td>Confirm password:</td><td><input id="pass2" type="password" name="pass2" value=""
                                    onkeyup="chkMatch('pass','pass2','OK','Failed!','msg');"></td></tr>
                <tr><td> </td><td><span id="msg" style="display: none"></span></td></tr>
            </table>
        </fieldset>
        <br/>
        <input type="hidden" name="redis_host" value="[{$redisHost}]">
        <input type="hidden" name="redis_port" value="[{$redisPort}]">
        <input type="hidden" name="redis_pass" value="[{$redisPass}]">
        <input type="submit" value="Next >"></td>
        </td></tr></table>
    </form>
</body>
</html>