#log4j.rootLogger=debug, R

log4j.appender.R=org.apache.RollingFileAppender
log4j.appender.A=org.apache.log4j.ConsoleAppender
#log4j.ConsoleAppender
# RollingFileAppender
log4j.appender.R.File=scanner.log

log4j.appender.R.MaxFileSize=10MB
log4j.appender.R.MaxBackupIndex=100
log4j.appender.R.immediateflush=true

log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=[%d][%5p] - %m%n

log4j.appender.A.layout=org.apache.log4j.PatternLayout
log4j.appender.A.layout.ConversionPattern=[%d] - %m%n

#Уровни логирования по убыванию: TRACE DEBUG INFO WARN ERROR FATAL

log4j.logger.webEngine=TRACE, R
log4j.logger.webEngine=INFO, A
