<html>
<head>
    <title>Web "A" Tools Instalation</title>
	<link type="text/css" href="/theme/wat.css" rel="stylesheet" />	
	<script type="text/javascript" src="/scripts/jquery.js"></script>
	<script type="text/javascript" src="/scripts/jquery-ui.js"></script>
	<script type="text/javascript">
    $(function(){
        // Dialog
        $('#dialog').dialog({
            autoOpen: true,
            draggable: false,
            resizable: false,
            closeOnEscape:false,
            modal: false,
            width: 350,
            open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons: {
                "Next >": function() {
					$('#form1').submit();
                }
            }
        });
        $('#tips').hide();
    });
	</script>
</head>
<body background="/theme/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png">
<div id="dialog" title="Welcome">
	<table border="0"><tr><td valign="middle"><img src="img/stage0.png"></td><td>
	<div>This wizard will guide you throug the instalation process.</div>
    <form action="stage1.php" method="POST" id="form1">
	Select preffered language <select name="lang">[{html_options values=$langs output=$lnNames selected=$defLang}]</select>
    </form></td></tr></table>
</div>
</body>
</html>