<html>
<head>
    <title>Web "A" Tools Instalation</title>
	<link type="text/css" href="/theme/wat.css" rel="stylesheet" />	
	<script type="text/javascript" src="/scripts/jquery.js"></script>
	<script type="text/javascript" src="/scripts/jquery-ui.js"></script>
	<script type="text/javascript" src="chkMatch.js"></script>
	<script type="text/javascript">
    $(function(){
        // Dialog
        $('#dialog').dialog({
            autoOpen: true,
            draggable: false,
            resizable: false,
            closeOnEscape:false,
            modal: false,
            width: 350,
            open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
            buttons: {
                "Next >": function() {
					$('#form1').submit();
                }
            }
        });
        $('#tips').hide();
    });
	</script>
</head>
<html>
<body background="/theme/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png">
	<div id="dialog" title="Step 2. GUI Andminstrative account.">
	<table border="0"><tr><td valign="middle"><img src="img/stage2.png"></td><td>
    <form action="stage3.php" method="POST" id="form1">
        <fieldset width="0">
            <legend><b>GUI Administrative account</b></legend>
            <table border="0">
                <tr><td>Group:</td><td><input type="text" name="group" value="Administrators"></td></tr>
                <tr><td>User:</td><td><input type="text" name="user" value="Administrator"></td></tr>
                <tr><td>Password:</td><td><input id="pass" type="password" name="pass" value=""
                                    onkeyup="chkMatch('#pass','#pass2','OK','Passwords are mismatch!','#msg');"></td></tr>
                <tr><td>Confirm password:</td><td><input id="pass2" type="password" name="pass2" value=""
                                    onkeyup="chkMatch('#pass','#pass2','OK','Passwords are mismatch!','#msg');"></td></tr>
            </table>
			<input type="hidden" name="db_dsn" id="db_dsn" value="[{$db_dsn}]" />
			<input type="hidden" name="db_usr" id="db_usr" value="[{$db_usr}]" />
			<input type="hidden" name="db_pwd" id="db_pwd" value="[{$db_pwd}]" />
			<div class="ui-state-error" id="msg" style="display: none; width: 100%; text-align: center;"></div>
        </fieldset>
    </form></td></tr></table>
	</div>
</body>
</html>