#blanket {
    background-color:#111;
    opacity: 0.65;
    /*filter: alpha(opacity=65);*/
    position:absolute;
    z-index: 9000;
    top:0px;
    left:0px;
    width:100%;
}
.messageBox {
    background:transparent repeat-y;
    color: yellow;
    overflow: hidden;
    font-size: 11px;
    text-align: center;
    width: 400px;
    height: 200px;
    z-index: 10000;
    position: absolute;
    border-color: #edb425;
}
.messageBoxNotifyHead{
    background:transparent no-repeat;
    color: white;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight:700;
    height:25px;
    margin:0px;
    padding-top:7px;
    text-align:center
}
a.okButton {
    background-color: lime;
    color: white;
    text-decoration: none;
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    border-color: green;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
}
a.okButton:hover {
  color: yellow;
  text-decoration: underline;
}
a.cancelButton {
    background-color: #DC143C; /*crimson;*/
    color: white;
    text-decoration: none;
    margin: 3px;
    padding: 3px;
    border: 1px solid;
    border-color: red;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
}
a.cancelButton:hover {
  color: yellow;
  text-decoration: underline;
}
